body {
  padding-left: 16px;
}

input,
select,
textarea {
  border-radius: 8px;
  outline: none;
  border: 1px solid #ced4da;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #3b82f6; 
}